





body {
    background-image: repeating-linear-gradient(
      to bottom);
    background-image: linear-gradient(red, salmon, yellow);

}
     /* rgb(26, 198, 204),
      rgb(26, 198, 204) 5%,
      rgb(125, 225, 12) 10%
    );

*/

    /*background-color: rgb(175, 226, 238);
}*/

h1 {
    color: black;
    font-family: 'Cream Cake', 'Trebuchet';
    font-size: 75px;
}

h2 {
    color: black;
    font-family: 'Cream Cake', 'Trebuchet';
    font-size: 38px;
}


input {
    width: 55px;
    height: 55px;
    margin: auto;
    border: 1px solid cyan;
    border-radius: 50px;
    font-size: 30px;
    text-align: center;
}

#pinkTurn {
    color: white;
}

#blueTurn {
    color: palevioletred;
}

#but {
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    border: 1px dotted purple;
    margin: auto;
    border-radius: 4px;
    box-shadow: 15px, 15px, 15px, 15px;
    padding: 3px, 3px, 3px, 3px;
    font-family: Verdana,
        Geneva, Tahoma, sans-serif;
    background-color: purple;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
#print {
    font-family: 'Cream Cake','Verdana', 'Tahoma', 'sans-serif';
    color: cyan;
    font-size: 20px;
}
#main {
    text-align: center;
}

#ins {
    font-family: Verdana,
        Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 38px;
}
